*{
	margin: 0;
}
body{
	font-family: Arial;
	color: white;
}
header, footer{
	background-color: green;
	text-align: center;
	padding: 5px;
	border: 0px;
}
header{
	font-family: serif;
}
section{
	margin-left: auto;
    margin-right: auto;
	width: 500px;
	padding: 20px;
	background-color: blue;
	min-height: 100px;
	min-width: 150px;
	max-width: 1920px;
	line-height: 150%;
	overflow: auto;
}
section h1{
	font-size: 30px;
	margin-bottom: 20px;
}
section .square{
	float: left;
	margin-right: 20px;
	height: 70px;
  	width: 70px;
  	border: 5px solid white;
  	border-top-left-radius: 10px;
  	border-bottom-right-radius: 10px;
}
section nav{
	display: block;
	text-align: center;
	margin: 20px 0px;

}
section a{
	color: red;
}
ul>li{
	color: white;
}
section li:first-child{
	margin-top: 10px;
}
section li:nth-child(2){
	color: aquamarine;
	letter-spacing: 5px;
}
section li:last-child{
	margin-bottom: 20px;
}
section aside{
	float: right;
}
section table{
	width: 150px;
	height: 100px;
	text-align: center;
}
section .inv{
	position: absolute;
	top: 550px;
	left: 60px;
  	visibility: hidden;
}
section img{
	box-sizing: content-box;
	float: right;
	margin-top: 20px;
	clear: right;
}
